<div class="center jumbotron">
    <h1>Check out the <%= link_to 'Mix Board Blog', controller: 'articles' %> for Portland venue news!
</div>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center ">
    <h1>Welcome to the MixBoard.</h1>

    <h2>
      This is the home page for the
      <a href="https://www.mixboard.com/">Portland venue sharing</a>
      application.
    </h2>

    <%= link_to "Join Portland musician community", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>
